<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<bean id="datasource"  
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />  
        <!--注意一下&characterEncoding要修改为&amp;characterEncoding-->  
    <property name="url" value="jdbc:mysql://localhost:3306/yytest?useUnicode=true&amp;characterEncoding=utf-8"/>        
        <property name="username" value="root"/>  
        <property name="password" value="a123" />  
    </bean> 
    
    <bean id="userDao" class="com.test.UserDaoImpl">
    	<property name="dataSource" ref="datasource"></property>
    </bean>

</beans>